In [21]:
import pandas as pd

In [22]:
brent_petroleum = pd.read_csv("..\\data\\processed\\petroleum_price.csv")
opec = pd.read_csv("..\\data\\processed\\opec_price.csv")

In [23]:
brent_petroleum.head()

                                                 id        date  price
0  Europe Brent Spot Price FOB (Dollars per Barrel)  2023-12-29  77.69
1  Europe Brent Spot Price FOB (Dollars per Barrel)  2023-12-28  79.04
2  Europe Brent Spot Price FOB (Dollars per Barrel)  2023-12-27  80.97
3  Europe Brent Spot Price FOB (Dollars per Barrel)  2023-12-22  80.23
4  Europe Brent Spot Price FOB (Dollars per Barrel)  2023-12-21  80.73

In [24]:
opec.drop(columns=['id'],inplace=True)
opec.head()

         date  opec_price
0  2003-01-02       30.05
1  2003-01-03       30.83
2  2003-01-06       30.71
3  2003-01-07       29.72
4  2003-01-08       28.86

In [25]:
result = pd.merge(brent_petroleum, opec, on='date', how='left')

In [26]:
result

,id,date,price,opec_price
0,Europe Brent Spot Price FOB (Dollars per Barrel),2023-12-29,77.69,78.44
1,Europe Brent Spot Price FOB (Dollars per Barrel),2023-12-28,79.04,80.31
2,Europe Brent Spot Price FOB (Dollars per Barrel),2023-12-27,80.97,81.82
3,Europe Brent Spot Price FOB (Dollars per Barrel),2023-12-22,80.23,81.23
4,Europe Brent Spot Price FOB (Dollars per Barrel),2023-12-21,80.73,80.84
...,...,...,...,...
748,Europe Brent Spot Price FOB (Dollars per Barrel),2021-01-08,55.51,54.39
749,Europe Brent Spot Price FOB (Dollars per Barrel),2021-01-07,53.70,53.84
750,Europe Brent Spot Price FOB (Dollars per Barrel),2021-01-06,53.80,53.29
751,Europe Brent Spot Price FOB (Dollars per Barrel),2021-01-05,53.16,50.75
752,Europe Brent Spot Price FOB (Dollars per Barrel),2021-01-04,50.37,51.35

In [27]:
result.isna().sum()

id            0
date          0
price         0
opec_price    0
dtype: int64

In [28]:
result.to_csv("../data/processed/petroleum_price_ext.csv", index=False)